 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>&nbsp I've been programming in my spare time since the beginning of 2021. Mostly in JavaScript. Inspired by friend of mine who is working as programmer. I've decided to retrain. I think I made big progress since that time, and I'm ready for new challenges and more complex projects.  </p>
                </div>
                <div class="col-lg-4">
                    <p>&nbsp My goal is to find an entry level job in IT in order to continue my growth and focus on software full-time. I'm open to new knowledge and meeting people. My friends describe me as a friendly and good communicating person.</p>
                </div>
               
            </div>
        </div>
    </section>
